html, body{
    height: 100%;
    /*
    Having this commented allows the content to be scrollable on smaller screens
    height: 100%; 
    overflow: hidden; */
}
input{
    /*white on black input color for dark mode*/
    color: white;
}
#MainView{
   
    padding: 5%;
    height: 100%;
}
.StudentDesks{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2%;
    row-gap: 5%;


}
.Desk{
    display: flex;
    justify-content: center;
    background-color: slategray;
    border-radius: 25px;
    
    font-size: x-large;
}
#CreateJoin{
height: 80%;
display: flex;
justify-content: center;

align-items: center;
flex-direction: column;
color: honeydew;

}
#Name{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
#username, #NameInput{
    width: 100%;
}
#Create{
    height: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-direction: column;
}
#Join{
    display: flex;
justify-content: center;

align-items: center;
flex-direction: column;
}

#MainHeader{
    color: honeydew;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#raise_hand{
width: 100%;
position: fixed;
bottom: 0;
color: greenyellow;
height: 10%;
font-size:x-large;

}