html, body{
    /*
    Having this commented allows the content to be scrollable on smaller screens
    height: 100%; 
    overflow: hidden; */
}
input{
    /*white on black input color for dark mode*/
    color: white;
}

h3{
    text-align: center;
}
.StudentDesks{
    display: grid;
    gap: 50px;
}
.Desk{
    background-color: green;
    border-radius: 25px;
    width: 200px;
    height: 100px;
}
#CreateJoin{
height: 80%;
display: flex;
justify-content: center;

align-items: center;
flex-direction: column;
color: honeydew;

}
#Name{
    
    display: flex;
    flex-direction: column;
    
}
#NameInput{
    width: 100%;
}
#Create{
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-direction: column;
}
#Join{
    display: flex;
justify-content: center;

align-items: center;
flex-direction: column;
}

#MainHeader{
    color: honeydew;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
}
