<!DOCTYPE html>
<html>

<head>
  <title>Hand Raiser - Track raised hands and create quick polls</title>
  <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
  <!--<link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.12/push.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="#424242 grey darken-3">
  <a href="/">
    <h1 class="#212121 grey darken-4" id="MainHeader">Hand Raiser ✋</h1>
  </a>
  

  <!-------------------WELCOME-------------------->
  <div id="CreateJoin">
    <div class="row" id="Name">


      <div class="row">
        <div class="col s12" id="NameInput">
          <h3>Enter Your Name</h3>
          <div class="input-field">
            <input id="input_username" type="text">
            <label for="username">Name</label>
          </div>
          <!--<i class="material-icons prefix">account_circle</i>-->

        </div>
        </form>
      </div>
      <div class="row">
        <div class="col s12 l6">
          <h3>Join a Room</h3>
          <div class="input-field" id="Join">

            <input id="input_room_id" type="number">
            <label for="input_room_id">Room ID</label>
            <a class="waves-effect waves-light btn-large #212121 grey darken-4" id="join_room">Join</a>
          </div>
        </div>
        <div id="Create" class="col s12 l6">
          <h3>Create a Room</h3>
          <a class="waves-effect waves-light btn-large #212121 grey darken-4" id="create_room">Create</a>
        </div>
      </div>
      <div class="HomepageFooter" style="width: 100%;">
        <a class="modal-trigger" href="#about_modal">About</a>
        <div id="about_modal" class="modal">
          <div class="modal-content black-text">
            <h4>About Hand Raiser</h4>
            <p>While our classes were temporarily suspended due to COVID-19, Logan McGovern and myself, Matthew Albert,
              started this project. The objective is to provide an easy way to teachers for get feedback from students
              in an online class.<br />
              Hand Raiser allows individuals to create rooms, have other join it, create quick polls and track whose
              hand is raised!<br />
              Feel free to contribute to this open source project on GitHub.<br />
              Donations are greatly appreciated to cover server costs and keep this website free.<br />
              Contact me at <a href="mailto:m@malbert.xyz">m@malbert.xyz</a> or <a
                href="mailto:matthew.albert911@gmail.com">matthew.albert911@gmail.com</a>
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>


        <a
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=matthew.albert911%40gmail.com&item_name=Donate+to+Hand+Raiser+project&currency_code=CAD&source=url">Help
          cover server costs</a>

        <a href="https://github.com/malbert911/HandRaiser">Check us out on GitHub</a>
      </div>
    </div>
  </div>
  <!-------------------END-WELCOME-------------------->
  <div id="RoomView" style="display: none;">
    <header>
      <!--<h3 class="#212121 grey darken-4" id="MainHeader">Name: </h3>-->
      <div id="info_header">
      <h4 class="#212121 grey darken-2" id="room_id"> Room ID: </h4>
      <h4 class="#212121 grey darken-2" id="room_id_clipboard"> <a class="waves-effect waves-light btn-small #212121 grey darken-4" id="id_clip_button"><i class="small material-icons">file_copy</i></a> </h4>
     
    </div>
      

      <div id='progressbar1'></div>
    </header>
    <!--Classroom Div-->
    <section id="poll_results" class="card-panel grey" style="display: none;">
      <div id="poll_results_content" class="ct-chart ct-double-octave"></div>
      <p id="poll_participation"></p>
      <div class="card-action"><a class="waves-effect waves-light btn-small #212121 grey darken-4"
          onclick='$("#poll_results").hide();'><i class="material-icons right">clear</i>Dismiss</a></div>

    </section>
    <div id="MainView">
    </div>
      <!--================================MEMBER FOOTER=====================================-->
    <footer id="MemberFooter" style="display: none;">
      <section id="poll_prompt">
        <section id="emote_poll_prompts" style="display: none;">
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 EmoteVote"
            id="emote_poll_prompts_smile">😄</button>
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 EmoteVote"
            id="emote_poll_prompts_meh">🙂</button>
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 EmoteVote"
            id="emote_poll_prompts_frown">😕</button>
        </section>
        <section id="question_poll_prompts" style="display: none;">
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 QuestionVote"
            id="question_poll_prompts_yes">Yes</button>
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 QuestionVote"
            id="question_poll_prompts_maybe">Maybe/Not Sure</button>
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 QuestionVote"
            id="question_poll_prompts_no">No</button>
        </section>
        <section id="multiplechoice_poll_prompts" style="display: none;">
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 MultipleChoiceVote"
            id="multiplechoice_poll_prompts_a">A</button>
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 MultipleChoiceVote"
            id="multiplechoice_poll_prompts_b">B</button>
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 MultipleChoiceVote"
            id="multiplechoice_poll_prompts_c">C</button>
          <button class="waves-effect waves-light btn-large #212121 grey darken-4 MultipleChoiceVote"
            id="multiplechoice_poll_prompts_d">D</button>
        </section>
      </section>
      <button class="waves-effect waves-light btn-large #212121 grey darken-4" id="raise_hand">Raise Hand</button>
    </footer>
    <!--================================OWNER FOOTER=====================================-->
    <!-----------------ROOM OWNER VOLUME CONTROL (sound when new raised hand)-->
<div class="fixed-action-btn" id="sound_toggle" style="display: none;">
  <a class="btn-floating btn-large waves-effect waves-light grey darken-4" id="sound_toggle_button">
    <i class="large material-icons" id="sound_toggle_icon">volume_up</i>
  </a>
</div>
    <footer id="OwnerFooter" style="display: none;">
      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger #212121 grey darken-4 OwnerFooterItem" href="#choose_poll">Start A Poll</a>

      <!-- Modal Structure -->
      <div id="choose_poll" class="modal">
        <div class="modal-content">
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Poll Types</h4>
            </li>
            <li class="modal-close collection-item hoverable" id="emote_poll">
              <div>Emote Poll<a class="secondary-content grey-text">😄, 🙂, 😕</a></div>
            </li>
            <li class="modal-close collection-item hoverable" id="question_poll">
              <div>Question Poll<a class="secondary-content grey-text">Yes, Maybe/Not Sure, No</a></div>
            </li>
            <li class="modal-close collection-item hoverable" id="multiplechoice_poll">
              <div>Multiple Choice Poll<a class="secondary-content grey-text">A, B, C, D</a></div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="handraiser.js"></script>
</body>

</html>