<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h1>Hand Raiser</h1>
    </header>

    <section>
      <input id="username" type="text" />
      <input id="room" type="number" min="10000" max="99999"/>
      <button id="create_room" type="button">Create</button>
      <button id="join_room" type="button">Join!</button>
      <button id="raise_hand" type="button">Raise Hand</button>
    </section>
    <section>
      <button id="emote_poll" type="button">emote_poll</button>
      <button id="oneten_poll" type="button">oneten_poll</button>
      <button id="boolean_poll" type="button">boolean_poll</button>
      <button id="yesno_poll" type="button">yesno_poll</button>
    </section>
    <section>
      <h3>
        Polls
      </h3>
      <section id="poll_prompt"></section>
      
      <section id="poll_results"></section>
    </section>
    <section>
      <h3>Connected users</h3>
      <section id="connected_users"></section>
    </section>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
