html, body{
    height: 100%;
    /*
    Having this commented allows the content to be scrollable on smaller screens
    height: 100%; 
    overflow: hidden; */
}
input{
    /*white on black input color for dark mode*/
    color: white;
}
h3{
    text-align: center;
}
#MainView{
   
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */

.StudentDesks{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2%;
    row-gap: 5%;
}
@media only screen and (min-width: 992px) {
    .StudentDesks{
        width: 100%;
        height: 100%;
        display: grid;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2%;
        row-gap: 5%;
    }
}
.Owner{
    width: 100%;
    margin: 20px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    
    font-size: x-large;
}

 
.Desk{
    display: flex;
    justify-content: center;
    background-color: slategray;
    border-radius: 25px;
    
    font-size: x-large;
}
.RaisedDesk{
    display: flex;
    justify-content: center;
    background-color: green;
    border-radius: 25px;
    
    font-size: x-large;
}
#info_header{
    display: grid;
    /*grid-template-areas: 'ID button button button button button button button button';*/
    grid-template-columns: 250px 4fr;
    
}
#room_id{
    margin: 0;
   width: 250px;
}
#room_id_clipboard{
    display: flex;
    margin: 0;
    align-items: center;
    
}
#CreateJoin{
/*height: 80%;*/
display: flex;
/*justify-content: center;*/

align-items: center;
flex-direction: column;
color: honeydew;

}
#Name{
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    
}

#Create{
    height: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-direction: column;
}
#Join{
    display: flex;
justify-content: center;

align-items: center;
flex-direction: column;
}

#MainHeader{
    color: honeydew;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#MemberFooter{
    width: 100%;
    position: fixed;
    bottom: 0;
    /*height: 10%;*/
}
#OwnerFooter{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.OwnerFooterItem{
    width: 100%;
    font-size: x-large;
}
.EmoteVote{
    width: 33%;
    font-size:x-large;
}
.QuestionVote{
    width: 33%;
    font-size:x-large;
}
.MultipleChoiceVote{
    width: 23%;
    font-size:x-large;
}
#raise_hand{
    width: 100%;
    color: greenyellow;
    font-size:x-large;
}
.ct-label {
    font-size: x-large;
}
.HomepageFooter{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: flex-end;
}


.progressbar {
    width: 100%;

  }
  .progressbar .inner {
    height: 15px;
    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 10s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
  }
  @keyframes progressbar-countdown {
    0% {
      width: 100%;
      background: #FFF;
    }
    100% {
      width: 0%;
      background: rgb(143, 143, 143);
    }
  }